* {
    font-family: Helvetica Neue;
}
/* styles to header begin */
header {
    background-color: black;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;
}

nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.3vw;
    color: #fff;
    text-decoration: none;
    list-style: none;
  }
/* styles to header end */

/* styles to hero begin */
.main-tag h1 {
    font-size: 5vw;
    margin: 0;
    padding-top: 30px;
    text-align: center;
}

#profile-pic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.main-tag{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}
.motto p {
    text-align: center;
    font-size: 1.5vw;
}
/* styles to hero begin */

/* styles to my work begin */
.my-work {
    text-align: center;
    padding-top: 350px;
}

.my-work-titled-images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-images-box {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.self-driving-car-container:hover img {
    opacity: 0.5;
}

.self-driving-car-container {
    display: flex;
    justify-content: center;
}

.self-driving-car-image {
    display: block;
    width: 100%;
    transition: .4s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.sdc-title {
    position: absolute;
    background:black;
    color:white;
    display: none;
    font-size: 25px;
    margin-top: 15%;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

.self-driving-car-container:hover .sdc-title {
    display: block;
}

.hiking-app-container:hover img {
    opacity: 0.5;
}
.hiking-app-container {
    display: flex;
    justify-content: center;
}

.hiking-app-image {
    display: block;
    width: 100%;
    transition: .4s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.ha-title {
    position: absolute;
    background:black;
    color:white;
    display: none;
    font-size: 25px;
    margin-top: 220px;
    border-radius: 5px;
    text-decoration: none;
}

.hiking-app-container:hover .ha-title {
    display: block;
}

.workout-app-container:hover img {
    opacity: 0.5;
}

.workout-app-container {
    display: flex;
    justify-content: center;
}

.workout-app-image {
    display: block;
    width: 100%;
    transition: .4s;
    border-radius: 5px;
}

.wa-title {
    position: absolute;
    background:black;
    color:white;
    display: none;
    font-size: 25px;
    margin-top: 220px;
    border-radius: 5px;
    text-decoration: none;
}

.workout-app-container:hover .wa-title {
    display: block;
}

/* styles to my work end */

/* styles to about me begin */
.about-me {
    text-align: center;
    padding-top: 250px;
}

.about-me p {
    text-align: center;
    padding-top: 0px;
    padding-right: 200px;
    padding-left: 200px;
    font-size: 2vw;
}
/* styles to about me end */

/* styles to contact me begin */
.contact-me h2 {
    text-align: center;
    padding-top: 350px;
}

.contact-list {
    text-align: center;
    list-style: none;
}
/* styles to contact me begin */