* {
    font-family: Helvetica Neue;
}
/* apply styles to header */
header {
    background-color: black;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;
}

nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.3vw;
    color: #fff;
    text-decoration: none;
    list-style: none;
  }

h1 {
    font-size: 5vw;
    margin: 0;
    padding-top: 30px;
    text-align: center;
}

.main-tag{
    padding-top: 150px;
}
.motto p {
    text-align: center;
    font-size: 1.5vw;
}

.my-work {
    text-align: center;
    padding-top: 350px;
}

#profile-pic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}


.self-driving-car img {
    width: 98%;
    border-radius: 10px;
    margin-bottom: 10px;
}

#hiking-app {
    width: 40%;
    margin-left: -8px;
    border-radius: 10px;
    border-right: 10px;
}

#workout-app {
    width: 58%;
    margin-right: -50px;
}