* {
    font-family: Helvetica Neue;
}
/* apply styles to header */
header {
    background-color: black;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;
}

nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.3vw;
    color: #fff;
    text-decoration: none;
    list-style: none;
  }

.main-tag h1 {
    font-size: 5vw;
    margin: 0;
    padding-top: 30px;
    text-align: center;
}

#profile-pic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.main-tag{
    padding-top: 150px;
}
.motto p {
    text-align: center;
    font-size: 1.5vw;
}

.my-work {
    text-align: center;
    padding-top: 350px;
}


.self-driving-car-container:hover {
    opacity: 0.5;
}

.self-driving-car-container {
    position: relative;
    width: 1420px;
}

.self-driving-car-image {
    display: block;
    width: 100%;
}

.sdc-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 254, 254);
    color: black;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.hiking-app-image:hover {
    opacity: 0.5;
}

.workout-app-image:hover {
    opacity: 0.5;
}

.about-me {
    text-align: center;
    padding-top: 250px;
}

.about-me p {
    text-align: center;
    padding-top: 0px;
    padding-right: 200px;
    padding-left: 200px;
    font-size: 2vw;
}

.contact-me {
    text-align: center;
    padding-top: 350px;
}

.title1 {
    text-align: left;
    padding-left: 20px;
}

.title2 {
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
}
